body{
    background-color: #e6aa05;
    color: white;
}
#diamond{
    color: purple;
    font-family: cursive;

}

hr{
    color: purple;
}
li{
    text-align: center;
    font-size: xxx-large;
}
/*.splide__slide img {*/
/*    width: auto;*/
/*    height: auto;*/
/*}*/
